<html lang="en">

<head>
    <meta charse="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
          integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
          integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Shofy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="~/assets/images/shofy.png">
</head>

<body>
    <header>
        <div class="header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-3"><img src="~/assets/images/logo.svg" alt=""></div>
                    <div class="col-6">
                        <div class="nav">
                            <nav class="navbar">
                                <ul class="navbar-menu">
                                    <li><a href="">Home <i class="fa-solid fa-chevron-down"></i></a></li>
                                    <li><a href="">Shop <i class="fa-solid fa-chevron-down"></i></a></li>
                                    <li class="products">
                                        <a href="~/product-detail.html">
                                            Products <i class="fa-solid fa-chevron-down"></i>
                                        </a>
                                        <div class="products-dropdown">
                                            <div class="products-list">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <a href="">
                                                                <span class="list-name">
                                                                    Shop
                                                                    Page
                                                                </span>
                                                            </a>
                                                            <ul>
                                                                <li><a href="">Only Categories</a></li>
                                                                <li><a href="">Shop Grid with Sidebar</a></li>
                                                                <li><a href="">Shop Grid</a></li>
                                                                <li><a href="">Categories</a></li>
                                                                <li><a href="">Shop List</a></li>
                                                                <li><a href="">Product Details</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-3">
                                                            <a href="">
                                                                <span class="list-name">
                                                                    Shop
                                                                    Page
                                                                </span>
                                                            </a>
                                                            <ul>
                                                                <li>
                                                                    <a href="~/product-detail.html">Product Details</a>
                                                                </li>
                                                                <li><a href="">Shop Grid with Sidebar</a></li>
                                                                <li><a href="">Shop Grid</a></li>
                                                                <li><a href="">Categories</a></li>
                                                                <li><a href="">Shop List</a></li>
                                                                <li><a href="">Product Details</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-3">
                                                            <a href="">
                                                                <span class="list-name">
                                                                    Shop
                                                                    Page
                                                                </span>
                                                            </a>
                                                            <ul>
                                                                <li><a href="">Only Categories</a></li>
                                                                <li><a href="">Shop Grid with Sidebar</a></li>
                                                                <li><a href="">Shop Grid</a></li>
                                                                <li><a href="">Categories</a></li>
                                                                <li><a href="">Shop List</a></li>
                                                                <li><a href="">Product Details</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-3">
                                                            <a href="">
                                                                <span class="list-name">
                                                                    Shop
                                                                    Page
                                                                </span>
                                                            </a>
                                                            <ul>
                                                                <li><a href="">Only Categories</a></li>
                                                                <li><a href="">Shop Grid with Sidebar</a></li>
                                                                <li><a href="">Shop Grid</a></li>
                                                                <li><a href="">Categories</a></li>
                                                                <li><a href="">Shop List</a></li>
                                                                <li><a href="">Product Details</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="">Coupons</i></a></li>
                                    <li><a href="~/blog.html">Blog </i></a></li>
                                    <li><a href="~/contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="wish-basket">
                            <img src="~/assets/images/svg-image-4.svg" alt="">
                            <div class="heart">
                                <a href="~/wishlist.html">
                                    <img src="~/assets/images/svg-image-5.svg"
                                         alt="">
                                </a>
                                <div class="count-wish"><span>0</span></div>
                            </div>
                            <div class="basket">
                                <img src="~/assets/images/svg-image-6.svg" alt="" class="open-btn">
                                <div class="count-basket"><span>0</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-up">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="header-up-left">
                            <img src="~/assets/images/svg-image-1.svg" alt=""><span class="ng-content">FREE Express Shipping On Orders 570+</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="header-up-right">
                            <ul>
                                <li class="dropdown1">
                                    <a href="">English <i class="fa-solid fa-chevron-down"></i></a>
                                    <ul class="dropdown-up1 d-none">
                                        <li><a href="">Spanish</a></li>
                                        <li><a href="">Russian</a></li>
                                        <li><a href="">Portuguese</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown1">
                                    <a href="">USD <i class="fa-solid fa-chevron-down"></i></a>
                                    <ul class="dropdown-up2 d-none">
                                        <li><a href="">EUR</a></li>
                                        <li><a href="">CHF</a></li>
                                        <li><a href="">GBP</a></li>
                                        <li><a href="">KWD</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown1">
                                    <a href="">Setting <i class="fa-solid fa-chevron-down"></i></a>
                                    <ul class="dropdown-up3 d-none">
                                        <li><a href="">My Profile</a></li>
                                        <li><a href="">Whislist</a></li>
                                        <li><a href="">Cart</a></li>
                                        <li><a href="">Logout</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-down">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="logo"><a href="~/index.html"><img src="~/assets/images/logo.svg" alt=""></a></div>
                    </div>
                    <div class="col-6">
                        <div class="search-box">
                            <div class="search">
                                <input type="search" placeholder="Search for Products...">
                                <div class="select-box">
                                    <div class="select">
                                        <span>Select Category</span><i class="fa-solid fa-chevron-down down-icon"></i>
                                        <ul class="select-dropdown d-none">
                                            <li class="first-a"><a href="">Select Category</a></li>
                                            <li><a href="">Electronics</a></li>
                                            <li><a href="">Fashion</a></li>
                                            <li><a href="">Beauty</a></li>
                                            <li><a href="">Jewelry</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="icon-search"><img src="~/assets/images/search.svg" alt=""></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-4">

                        <div class="account">

                            <div class="sign-register">
                                <div class="person-circle"><img src="~/assets/images/person.svg" alt=""></div>
                                <div class="sign-text">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form asp-controller="Account" asp-action="Logout">
                                            <button class="px-1" type="submit" asp-controller="Account" asp-action="Logout" style="color:black;">Logout</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <span><a class="px-1" asp-controller="Account" asp-action="SignUp">Sign Up</a></span>
                                        <span><a class="px-1" asp-controller="Account" asp-action="SignIn">Sign In</a></span>

                                    }
                                  
                                    <a> <p>@User.Identity.Name</p></a>
                                </div>
                            </div>

                            <div class="wish-basket">
                                <img src="~/assets/images/svg-image-4.svg" alt="">
                                <div class="heart">
                                    <a href="~/wishlist.html"><img src="~/assets/images/svg-image-5.svg" alt=""></a>
                                    <div class="count-wish"><span>0</span></div>
                                </div>
                                <div class="basket">
                                    <img src="~/assets/images/svg-image-6.svg" alt="" class="open-btn">
                                    <div class="count-basket"><span>0</span></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="header-down-menu">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-4">
                                <div class="menu-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-9">
                                                <div class="menu">
                                                    <div class="menu-img">
                                                        <img src="~/assets/images/menu-svg.svg"
                                                             alt="">
                                                    </div>
                                                    <span>All Categories</span>
                                                </div>
                                            </div>
                                            <div class="col-3"><i class="fa-solid fa-chevron-down"></i></div>

                                        </div>
                                    </div>
                                </div>
                                <ul class="dropdown-m d-none">
                                    <li>
                                        <div class="cart1"><img src="~/assets/images/product-cat-1.png" alt=""></div><a href="">Headphones</a> <i class="fa-solid fa-chevron-right"></i>
                                    </li>
                                    <li>
                                        <div class="cart1"><img src="~/assets/images/product-cat-2.png" alt=""></div><a href="">Headphones</a> <i class="fa-solid fa-chevron-right"></i>
                                    </li>
                                    <li>
                                        <div class="cart1"><img src="~/assets/images/product-cat-3.png" alt=""></div><a href="">Headphones</a> <i class="fa-solid fa-chevron-right"></i>
                                    </li>
                                    <li>
                                        <div class="cart1"><img src="~/assets/images/product-cat-4.png" alt=""></div><a href="">Headphones</a> <i class="fa-solid fa-chevron-right"></i>
                                    </li>
                                    <li>
                                        <div class="cart1"><img src="~/assets/images/product-cat-5.png" alt=""></div><a href="">Headphones</a> <i class="fa-solid fa-chevron-right"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-8">
                                <div class="nav">
                                    <nav class="navbar">
                                        <ul class="navbar-menu">
                                            <li><a href="">Home <i class="fa-solid fa-chevron-down"></i></a></li>
                                            <li><a href="~/shop.html">Shop <i class="fa-solid fa-chevron-down"></i></a></li>
                                            <li class="products">
                                                <a href="~/product-detail.html">
                                                    Products <i class="fa-solid fa-chevron-down"></i>
                                                </a>
                                                <div class="products-dropdown">
                                                    <div class="products-list">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-3">
                                                                    <a href="~/shop.html">
                                                                        <span class="list-name">
                                                                            Shop
                                                                            Page
                                                                        </span>
                                                                    </a>
                                                                    <ul>
                                                                        <li><a href="">Only Categories</a></li>
                                                                        <li><a href="">Shop Grid with Sidebar</a></li>
                                                                        <li><a href="">Shop Grid</a></li>
                                                                        <li><a href="">Categories</a></li>
                                                                        <li><a href="">Shop List</a></li>
                                                                        <li><a href="">Product Details</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-3">
                                                                    <a href="">
                                                                        <span class="list-name">
                                                                            Shop
                                                                            Page
                                                                        </span>
                                                                    </a>
                                                                    <ul>
                                                                        <li>
                                                                            <a href="~/product-detail.html">
                                                                                Product
                                                                                Details
                                                                            </a>
                                                                        </li>
                                                                        <li><a href="">Shop Grid with Sidebar</a></li>
                                                                        <li><a href="">Shop Grid</a></li>
                                                                        <li><a href="">Categories</a></li>
                                                                        <li><a href="">Shop List</a></li>
                                                                        <li><a href="">Product Details</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-3">
                                                                    <a href="">
                                                                        <span class="list-name">
                                                                            Shop
                                                                            Page
                                                                        </span>
                                                                    </a>
                                                                    <ul>
                                                                        <li><a href="">Only Categories</a></li>
                                                                        <li><a href="">Shop Grid with Sidebar</a></li>
                                                                        <li><a href="">Shop Grid</a></li>
                                                                        <li><a href="">Categories</a></li>
                                                                        <li><a href="">Shop List</a></li>
                                                                        <li><a href="">Product Details</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-3">
                                                                    <a href="">
                                                                        <span class="list-name">
                                                                            Shop
                                                                            Page
                                                                        </span>
                                                                    </a>
                                                                    <ul>
                                                                        <li><a href="">Only Categories</a></li>
                                                                        <li><a href="">Shop Grid with Sidebar</a></li>
                                                                        <li><a href="">Shop Grid</a></li>
                                                                        <li><a href="">Categories</a></li>
                                                                        <li><a href="">Shop List</a></li>
                                                                        <li><a href="">Product Details</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><a href="">Coupons</i></a></li>
                                            <li><a href="~/blog.html">Blog </i></a></li>
                                            <li><a href="~/contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="contact">
                            <div class="phone-img"><img src="~/assets/images/phone.svg" alt=""></div>
                            <div class="contact-text">
                                <span>Hotline:</span>
                                <p>+(402) 763 282 46</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer>
        <div class="footer-area">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <img src="~/assets/images/logo.svg" alt="">
                                </div>
                                <p>We are a team of designers and developers that create high quality WordPress</p>
                                <div class="footer-social">
                                    <div class="social"><i class="fa-brands fa-facebook-f"></i></div>
                                    <div class="social"><i class="fa-brands fa-twitter"></i></div>
                                    <div class="social"><i class="fa-brands fa-linkedin-in"></i></div>
                                    <div class="social"><i class="fa-brands fa-vimeo-v"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-2">
                            <div class="footer-title">
                                <h4>My Account</h4>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="">Track Orders</a></li>
                                        <li><a href="">Shipping</a></li>
                                        <li><a href="">Wishlist</a></li>
                                        <li><a href="">My Account</a></li>
                                        <li><a href="">Order History</a></li>
                                        <li><a href="">Returns</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="footer-title">
                                <h4>Information</h4>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="">Our Story</a></li>
                                        <li><a href="">Careers</a></li>
                                        <li><a href="">Privacy Policy</a></li>
                                        <li><a href="">Terms & Conditions</a></li>
                                        <li><a href="">Latest News</a></li>
                                        <li><a href="">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="footer-title">
                                <h4>Talk To Us</h4>
                                <div class="content">
                                    <div class="footer-talk">
                                        <span>Got Questions? Call us</span>
                                        <h4>+670 413 90 762</h4>
                                    </div>
                                    <div class="footer-contact">
                                        <img src="~/assets/images/svg-36.svg" alt="">
                                        <span>shofy@support.com</span>
                                    </div>
                                    <div class="footer-contact">
                                        <img src="~/assets/images/svg-37.svg" alt="">
                                        <span class="c2">
                                            79 Sleepy Hollow St.
                                            Jamaica, New York 1432
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="bottom">
                        <div class="row">
                            <div class="col-6">
                                <span>© 2024 All Rights Reserved | Angular Template by </span> <a href="">Themepure</a>
                            </div>
                            <div class="col-6">
                                <div class="footer-payment">
                                    <img src="~/assets/images/footer-pay.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
            integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/assets/js/script.js"></script>

</body>

</html>
